.app-container {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.abeezee-regular {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.abeezee-regular-italic {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: italic;
}


.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
  margin-left: 60px;
  min-height: 100vh;
}

.main-wrapper.sidebar-open {
  margin-left: 240px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-wrapper {
    margin-left: 0;
  }

  .main-wrapper.sidebar-open {
    margin-left: 0;
  }
}
